*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway',sans-serif;
	background-color: #474747;
}

html, body{
	height: 100%;
	width: 100%;

}



#myNavbar{
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png)
}


.navbar-brand{
	color: #fff;
	font-size: 1.8em;
	font-weight: 400;
	margin-left: 5%;

}


#banner1 .nav{
	margin-right: 10%;
}

#banner1 .nav li a{
	color: #aaa;
	font-size: 1.2em;

}


main{
	
	min-height: 100%;
}


#banner1{
	height:100vh; 
	width:100%;
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png),url(https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*overflow: hidden;*/
}

#banner1 .info{
	margin-top: 20%;
	transform: translateY(-10%);
}

#banner1 .info h1{
	font-size: 5em;

	color: white;
	letter-spacing: 1px;
	font-family: 'Lateef', cursive;
}

#banner1 .info p{
	font-size: 2em;
	font-family: 'Lateef', cursive;
	font-weight: 100;
	color: white;
	letter-spacing: 2px;

}

#banner1 .info a{
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;


}

/*#profilePic{
	width: 200px;
	height: auto;
}*/


.animate__animated.animate__fadeIn {
	--animate-duration: 2s;
}
#landingPage{
	margin-bottom: 50%;


}


#landingPage .row{
	padding-top: 80px;
	
}



#banner2{
	height:100%; 
	width:100%;
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	padding-top: 4rem;
	padding-bottom: 5rem;
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;

}
#banner2 h1{
	font-size: 3em;
	font-family: 'Lateef', cursive;
	color: white;
	letter-spacing: 1px;

}

#portfolio{
	padding: 5%

}


#banner3{
	width:100%;
	background-color: #D8D8D8;
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;

}



.contactform{
	margin: 2rem  2rem 2rem 3rem;;
	border: 1px solid gray;
	border-radius: 15px;
	padding: 1rem;
}
.contactform h2{
	font-family: 'Lateef', cursive;
	font-size: 3rem;

}

#map-container-google-3{
	margin-top: 4rem;

}

#contactInfo{
	margin: 2rem;
	border-radius: 15px;
	padding: 1rem 0;

}

#contactInfo h2{
	font-family: 'Lateef', cursive;
	font-size: 3rem;
}

#map-container-google-3{
	padding: 0;
	margin: 2rem 0 0 0;
}


.infoList li{
	
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;

	list-style: none;
}

#infolist2 {

	padding-left: 50px;

}

#infoList2 li{
	

	padding-left: 5px;
	padding-right: 5px;

	list-style: none;
}

#ML{

	margin-left: 2rem;
}



#mainContainer {
	min-height: 100%; 
	padding: 0;


}
#insideMain{
	width: 100%;

}

footer{
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
}


#portfolio{
	padding:0;

}


.portfolio-box img{
	padding:5px;
}


#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl {
	max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box {
	position: relative;
	display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	opacity: 0;
	color: #fff;



	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	transition: opacity 0.25s ease;
	text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.85rem;
	font-weight: 600;
	text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
	font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}



/*cards*/


.card {
  border: none;
  background-color: transparent;
}
img,
.card-img-top {
  border-radius: 0em;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

/*cards*/